@{
    ViewBag.Title = "About";
}

<h2>PoEPriceTracker</h2>

<p>Page created by Kasjan Siwek for C# classes. </p>

<p>It tracks prices (shown as equivalent of Chaos Orb currency) of unique items in Path of Exile over time.
It records minimum, maximum, median and mean price of every item every few hours. Also it keeps track of how many of copies of each item are being currently
sold it in each league.</p>

<h3>Usage</h3>

<p>Just select an item from the @Html.ActionLink("list", "Index", "Item")</p>